/*.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}*/

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#progressContainer {
    margin-top: 20px;
    display: none;
}


.progress-bar-container {
    margin-bottom: 10px;
}

.progress-bar {
    width: 100%;
    background-color: #ddd;
    border: 1px solid #777;
    margin-top: 5px;
}

.progress {
    width: 0;
    height: 20px;
    background-color: #007bff;
}

.thumbnail {
    max-width: 100px;
    max-height: 100px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.custom-file-upload {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 16px;
}

/* Hide the default file input button */
input[type="file"] {
    display: none;
}

.square-thumbnail {
    width: 100px;
    /* Adjust the width as per your requirement */
    height: 100px;
    object-fit: cover;
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    /*max-width: 100%;
    height: auto;*/
}

.trash-icon {
    cursor: pointer;
    /*margin-left: 10px;*/
}

.list-item {
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    background-color: whitesmoke;
}