.lg-outer,
.lg-backdrop {
    z-index: 999999999999 !important;
}

/* .ays_map_container_".$id." {
    max-width: 100%;
    transition: .5s ease-in-out;
    animation-duration: .5s;
    position: static!important;
}
.ays_map_container_".$id." {
    $glp_container_css
}
.gpg_loader_".$id." {
    $ays_gal_loader_display;
} */

.mydivicon {
    border-radius: 25%;
    border: 3px solid #fff;
}

.mydivmarker6 {
    border-radius: 25%;
    border: 6px solid #fff;
}

.mydivmarker9 {
    border-radius: 25%;
    border: 9px solid #fff;
}

.mydivmarker12 {
    border-radius: 25%;
    border: 12px solid #fff;
}

div.gallery-slider {
    overflow: hidden;
    white-space: nowrap;
    padding: 4px;
    display: ruby;
}

div.gallery-slider img {
    display: ruby;
    padding: 2px;
    height: 120px;
    cursor: pointer;
    /* Add cursor pointer for better usability */
    /*border: 2px solid transparent; /*Initial border style */
}

div.planet-slider {
    /*background-color: #333;*/
    overflow: hidden;
    white-space: nowrap;
    padding: 4px;
}

div.planet-slider img {
    padding: 2px;
    height: 140px;
    cursor: pointer;
    /* Add cursor pointer for better usability */
    /*border: 2px solid transparent; /*Initial border style */
}

.imgSelected {
    /*border: 2px solid red;*/
    border-bottom: 2px solid red;
    /* Adjust the border style for selected images */
    opacity: 1;
}

.imgNotSelected {
    border: 2px solid transparent;
    /* Adjust the border style for selected images */
    opacity: 0.85;
}

.slider-item {
    position: relative;
}

.slider-overlay-circle {
    position: absolute;
    top: 3px;
    right: 3px;
    height: 32px;
    width: 32px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-overlay-text {
    position: absolute;
    bottom: 3px;
    right: 3px;
    height: 32px;
    width: 32px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-icon {
    color: white;
    /* Change the color of the icon */
    cursor: pointer;
}

.slider-item:hover .slider-overlay-circle {
    opacity: 1;
}


.slider-item:hover .slider-overlay-text {
    opacity: 1;
}