/* display user photos */

/* see @media below 
  pdb = photo + description + buttons
  height for mobiles (<450px)*/
.pdb-big-container,
.pdb-container {
    margin-top: 10px;
    display: flex;
    align-items: stretch;
    background-color: #fefefe;
    border-radius: 10px;
}

.flex-container-photo {
    margin-top: 10px;
    display: flex;
    align-items: stretch;
    background-color: #f7f7f7;
    justify-content: space-between;
}

.cpt-photo {
    font-size: small;
    text-align: center;
    margin-bottom: 10px;
}

.list-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

/* see @media below 
  pdb = photo + description + buttons */
.miniature {
    background-position: center;
    background-size: cover;
    float: left;
    border-radius: 8px 0 0 8px;
    cursor: pointer;
}

.miniature1 {
    background-position: center;
    background-size: cover;
    border-radius: 8px 0 0 8px;
    flex-basis: 90px;
    cursor: pointer;
    background-color: #dddddd;
}

.miniature2 {
    background-position: right;
    background-size: cover;
    border-left: 1px solid white;
    flex-basis: 20px;
    cursor: pointer;
    background-color: #dddddd;
}

.miniature3 {
    background-position: right;
    background-size: cover;
    border-left: 1px solid white;
    flex-basis: 10px;
    cursor: pointer;
    background-color: #dddddd;
}

.gallery-text-container,
.pdb-descr-container {
    flex: 10 0 60px;
    padding: 5px;
    font-size: small;

    /* description is vertical*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pdb-radio-container {
    flex: 10 0 60px;
    padding: 5px;
    font-size: small;

    /* description is vertical*/
    flex-direction: column;
    justify-content: space-between;
}

.url-text-container {
    flex: 10 0 180px;
    padding: 5px;
    height: 104px;
    font-size: x-large;
}

.full-item {
    margin-top: 10px;
    border: solid 1px #aaa;
    border-radius: 8px;
    background-color: whitesmoke;
}

/* see @media below 
  max-width for mobiles (<450px)*/
.full-miniature {
    /*float: left;
    max-height: 100px;*/
    max-width: 135px;
    width: auto;
    padding: 4px;
    border-right: solid 1px #888
}

.full-miniature-big {
    float: left;
    max-height: 280px;
    width: auto;
    padding: 4px;
    border: solid 1px #888
}


.pdb-descr-footer-flex-1 {
    /*text-overflow: ellipsis;
    overflow: hidden;
    height: 16px;*/
    flex: 1;
}

.pdb-descr-footer-flex-2 {
    text-overflow: ellipsis;
    overflow: hidden;
    /*height: 16px;*/
}

/* page Edit gallery */
.pdb-descr-header {
    /*line-height: 20px;*/
    text-overflow: ellipsis;
    overflow: hidden;
    /*height: 64px;*/
}

.pdb-descr-word-break {
    /*line-height: 20px;*/
    word-wrap: break-word;
    word-break: break-word;
    /*height: 64px;*/
}

.pdb-descr-footer {
    position: relative;
    overflow: hidden;
}

.pdb-descr-footer-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.user-gallery-btns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

/* page My galleries */

.user-gallery-option {
    cursor: pointer;
    flex-basis: 300px;
    flex: 10 0 20px;
    padding: 7px;
}

.pdb-descr-font {
    font-weight: 500;
    color: #666
}

.pdb-descr-font-small {
    font-size: small;
    color: #666;
    /*line-height: 16px;*/

}

/*.options {
    flex-basis: 40px;
    border-radius: 0 8px 8px 0;
    padding: 5px;
}*/

.options-photo-gallery {
    flex-basis: 40px;
    border-radius: 0 8px 8px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-options-3 {
    flex: 0 0 32px;
    display: flex;
    align-items: center;
    border-radius: 0 8px 8px 0;
    justify-content: center;
}

.slider-options-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 30px;
    border-radius: 8px 0 0 8px;
    padding: 5px;
}

.slider-options-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 30px;
    border-radius: 0 8px 8px 0;
    padding: 5px;
}

.user-photo-option {
    cursor: pointer;
    flex-basis: 300px;
    flex: 10 0 20px;
    padding: 7px;
    padding-top: 17px;
}

.admin-photo-option {
    cursor: pointer;
    flex-basis: 300px;
    flex: 10 0 20px;
    padding: 7px;
    padding-top: 20px;
}

.admin-url-option {
    cursor: pointer;
    flex-basis: 300px;
    flex: 10 0 20px;
    padding: 7px;
    padding-top: 20px;
}

/* EDIT photos */

.edit-photo-option {
    cursor: pointer;
    padding: 4px;
}

.gallery-photo-option {
    cursor: pointer;
    flex-basis: 300px;
    flex: 10 0 20px;
    padding-top: 17px;
}

.align-right {
    position: relative;
    float: right;
}

.align-left {
    position: relative;
    float: leftt;
}

.search-place {
    display: flex;
    padding: 10px 25px;
}

.search-place button {
    margin-left: 10px;
    /* Add some space between input and button */
}

/** drag drop and sortable **/
/* 
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #595DB8;
} */

.sortable-list .item {
    list-style: none;
    cursor: move;
    margin-top: 10px;
}

.item.dragging {
    opacity: 0.6;
}

.item.dragging :where(.pdb-container, i) {
    opacity: 0;
}

.desc-display {
    display: none;
}

.desc-title {
    text-align: center;
    font-size: larger;
}

.desc-description {
    text-align: center;
}

.desc-address {
    text-align: center;
}

/* see @media below */
.map-desc-block {
    display: flex;
    justify-content: center;
}

.desc-slider {
    margin-bottom: 20px;
    /* max-width: 600px; 
    min-width: 50%;*/
    padding: 5px;
    background-color: #f1f1f1;
}

.desc-slider-title {
    text-align: center;
    color: #303030;
}

.desc-slider-address {
    font-size: small;
    text-align: center;
    font-weight: 500;
}

.desc-lightbox-title {
    text-align: center;
    font-size: 1rem;
}

.desc-lightbox-address {
    font-size: small;
    font-weight: lighter;
}

.desc-lightbox-user {
    font-size: small;
    font-weight: lighter;
    display: flex;
    /*justify-content: space-between;*/
}

/* see @media below 
  this value for mobiles (<450px)*/
.pg-container {
    /*max-width: 800px !important;*/
    padding: 10px;
    background-color: #f1f1f1;
    /* see desc-gallery */
}

/* see @media below 
  this value for mobiles (<450px)*/
.pg-map-container {
    /*max-width: 800px !important;*/
    padding: 10px 29px;
    background-color: #f1f1f1;
    /* see desc-gallery */
}

.pg-map {
    border: solid 2px lightgrey;
    border-radius: 3px;
    /* see desc-gallery */
}

.pg-tab {
    padding-right: 8px;
    line-height: inherit;
}

.toast {
    width: 200px !important;
}

.invalid-input {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: #dc3545;
}

.btn-warning {
    font-size: smaller;
    padding-left: 10px;
    color: lightcoral;
    display: none;
    align-content: center;
}

.participate-info {
    padding: 10px;
    border-radius: 8px;
    font-size: smaller;
    background-color: #f1f1f1;
}

.modal-header .btn-close {
    display: none;
}

.modal-header .modal-download {
    display: block !important;
}

/** MAP stuff **/
.lg-outer,
.lg-backdrop {
    z-index: 999999999999 !important;
}

.mydivicon {
    border-radius: 25%;
    border: 2px solid #fff;
}

.mydivmarker {
    border-radius: 25%;
    border: 4px solid #fff;
}

div.slider img {
    height: 150px;
    cursor: pointer;
    max-width: none;
}

/* slick classes */
.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .8;
    padding: 14px 2px;
}

.slick-current {
    opacity: 1;
    padding: 4px 8px;

}

/* slide is a slick class */

.slider-item {
    position: relative;
}

.slider-overlay-circle {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 32px;
    width: 32px;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);
    transition: .3s ease;
    display: none;
    justify-content: center;
    align-items: center;
}

.slider-overlay-expand {
    position: absolute;
    top: 0px;
    /*left: 3px;*/
    height: 32px;
    width: 32px;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);
    transition: .3s ease;
    display: none;
    justify-content: center;
    align-items: center;
}

.slider-overlay-ban {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 32px;
    width: 32px;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);
    transition: .9s ease;
    display: none;
    justify-content: center;
    align-items: center;
}

.slider-icon {
    color: white;
    /* Change the color of the icon */
    cursor: pointer;
}

.slick-center:hover .slider-overlay-circle {
    display: flex;
}

.slick-center:hover .slider-overlay-expand {
    display: flex;
}

.slick-center:hover .slider-overlay-ban {
    display: flex;
}

.lightbox-descr {
    display: none;
}

.lightbox-descr-all {
    /*display: flex;
    justify-content: space-between;*/
}

.lightbox-descr-text {
    display: flex;
    flex-direction: column;
}

/* see @media below 
  this value for mobiles (<450px)*/
#map {
    height: 350px;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.pg-lightbox-vignette {
    left: 50%;
    transform: translate(-50%, 0);
}

.pg-descr-vignette {
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #f1f1f1 !important;
    border-width: 0px !important;
}

.android-buttons {
    height: 50px;
    border-radius: 8px;
}

.pg-edit-img {
    height: 200px;
    width: auto;
    border: 1px solid #BBB;
    padding: 3px;
    border-radius: 4px
}

/* default is for small devices < 400px */
@media only screen and (max-width: 449px) {

    /* container for photo + descr + buttons */
    .pdb-container {
        /* see miniature */
        height: 90px;
    }

    /*.pg-container {
    }
    .pg-map-container {
    }*/
    div.slider img {
        height: 150px;
    }

    #map {
        height: 250px;
    }

    .map-desc-block {
        min-height: 170px;
    }

    .miniature {
        /* see pdb-container height */
        flex-basis: 80px;
    }

    .miniature1 {
        flex-basis: 80px;
    }

    .miniature2 {
        flex-basis: 20px;
    }

    .miniature3 {
        flex-basis: 10px;
    }

    .full-miniature {
        max-width: 135px;
    }

    .pg-edit-img {
        height: 200px;
    }

}

/* Medium and large devices */
@media only screen and (min-width: 450px) {

    /* container for photo + descr + buttons */
    .pdb-container {
        /* see miniature */
        height: 110px;

    }

    .pg-container {
        max-width: 1200px !important;
    }

    .pg-map-container {
        max-width: 1200px !important;
    }

    div.slider img {
        height: 200px;
    }

    #map {
        height: 500px;
    }

    .map-desc-block {
        min-height: 150px;
    }

    .miniature {
        /* see pdb-container height */
        flex-basis: 110px;
    }

    .miniature1 {
        flex-basis: 100px;
    }

    .miniature2 {
        flex-basis: 30px;
    }

    .miniature3 {
        flex-basis: 15px;
    }

    .full-miniature {
        max-width: 200px;
    }

    .pg-edit-img {
        height: 350px;
    }

}